<% @post ||= post %>
<% @user ||= @post.postee %>
<%= simple_form_for [@user, @post], remote: true do |f| %>
<div class="well">
  <div class="overflow">
    <div>
      <%= f.input :body, label: false, input_html: {placeholder: "Write something...",
          class: "borderless width100"}%>
    </div>
  <%= f.submit "Post", class: "button-colors white" %>
  </div>
</div>
<% end %>
